.wpcf7-form {
	input::placeholder,
	textarea::placeholder,
	textarea,
	input {
		font-family: $broodletter;
	}
	label input,
	label textarea {
		font-size: .8em;
	}
}
.ctf7-binnen {
	margin-bottom: -30px;
	& > * {
		margin-bottom: 30px;
	}
	label {
		width: 100%;
		display: block;
	}
		textarea {
			max-width: 100%;
		}
		input {
			padding-top: 4px;
			padding-bottom: 4px;
		}
		br {
			display: none;
		}
}
.wpcf7-response-output {
	margin-top: 40px;
}
.screen-reader-response {
	display: none;
}

.bericht-tekst {
	.wpcf7-form {
		margin-top: 40px;
		font-size: 1.25em;
		input.wpcf7-submit {
			height: auto;
		}
	}
}

.contact .art-meta {
	display: none;
}